.gitlab-live-container
  .gitlab-live-logo-container
    = partial "/images/logos/gitlab-live-logo.svg"
  .flex-container.flex-column.full-width
    .countdown-container
      .countdown
        %h1#days-count 00
        %p Days
      .countdown
        %h1#hours-count 00
        %p Hours
      .countdown
        %h1#minutes-count 00
        %p Minutes
      .countdown
        %h1#seconds-count 00
        %p Seconds
    .gitlab-live-info-container
      %h1 Livestream: What’s next for GitLab?
      %p Join us for a special #GitLabLive event
      %a.btn.cta-btn.orange.margin-top20{ href: "/webcast/whats-next-for-gitlab" } Register
    .share-container
      %p
        Share using
        %a{ href: "https://twitter.com/search?q=%23gitlablive", target: "_blank" } #GitLabLive:
      %a{ href: "https://www.facebook.com/sharer/sharer.php?u=https://about.gitlab.com/webcast/whats-next-for-gitlab/", target: "_blank" }
        %i.fab.fa-facebook
      %a{ href: "https://twitter.com/intent/tweet?url=https%3A%2F%2Fabout.gitlab.com%2Fwebcast%2Fwhats-next-for-gitlab&via=%40gitlab&text=Check%20out%20GitLab%27s%20livestream%20-%20What%27s%20next%20for%20GitLab&hashtags=gitlablive%2Cgitlab%2Clivestream%2Cwebcast", target: "_blank" }
        %i.fab.fa-twitter
      %a{ href: "https://www.linkedin.com/shareArticle?mini=true&url=https://about.gitlab.com/webcast/whats-next-for-gitlab&summary=Check%20out%20GitLabs%20livestream%20-%20Whats%20next%20for%20GitLab", target: "_blank" }
        %i.fab.fa-linkedin
      %a{ href: "http://www.reddit.com/submit?url=https://about.gitlab.com/webcast/whats-next-for-gitlab/=Post%20to%20Reddit%20via%20URL", target: "_blank" }
        %i.fab.fa-reddit

%script{ src: "/javascripts/gitlab-live-countdown.js", type: "text/javascript" }
