-# this page is out-of-date, updated template here /source/templates/comparison.html.haml
-# don't delete until we can 301 redirect old comparison pages to new ones 

= partial "includes/comparison_filter"

%h2.titles-comparison-companies.text-center
  = comparison_block.title
.container.text-center
  .row
    .col-md-10.col-md-offset-1
      -# Show the "summary" element for this comparison (features.yml) if it exists.
      - if comparison_block.summary.present?
        = kramdown(comparison_block.summary)

      %br
- if (comparison_block.feature_page != "null")
  %h3.text-center
    = comparison_block.feature_page
    = link_to comparison_block.feature_page_link_description, comparison_block.feature_page_link
    = comparison_block.feature_page_link_description_2
%table.compare-table.comparing-gitlab
  %colgroup
    %col{:width => "80%"}
    %col{:width => "10%"}
    %col{:width => "10%"}
  %thead
    %tr
      %th.text-left.table-title
        FEATURES
      %th.text-center.table-title-logo
        - if (product_one.logo != "null")
          %img{ src: "#{product_one.logo}", alt: "#{product_one.name}", class: "logo" }
        - else
          = product_one.name
      %th.text-center.table-title-logo
        - if (product_two.logo != "null")
          %img{ src: "#{product_two.logo}", alt: "#{product_two.name}", class: "logo" }
        - else
          = product_two.name
  %tbody.header.first
    - data.features.features.each do |feature|
      - if (feature.public_send(key_one) != nil && feature.public_send(key_two) != nil)
        %tr
          %td.feature-in-list
            %p.feature-in-list-title.feature-contents
              %strong= feature.title
              - if feature.gitlab_ultimate
                = partial "includes/features/badges", locals: { tier_hash: serialize_tier_hash(feature), gitlab_com: feature.gitlab_com, is_dark: true }
            %p
              = kramdown(feature.description)
            %p
              = link_to feature.link_description, feature.link
          %td.check-container.text-center
            - if (feature.public_send(key_one) == "partially")
              = partial "includes/icons/comparison/maybe-icon.svg"
            - if (feature.public_send(key_one) == true)
              = partial "includes/icons/comparison/yes-icon.svg"
            - if (feature.public_send(key_one) == false)
              = partial "includes/icons/comparison/no-icon.svg"
          %td.check-container.text-center
            - if (feature.public_send(key_two) == "partially")
              = partial "includes/icons/comparison/maybe-icon.svg"
            - if (feature.public_send(key_two) == true)
              = partial "includes/icons/comparison/yes-icon.svg"
            - if (feature.public_send(key_two) == false)
              = partial "includes/icons/comparison/no-icon.svg"

// Get the pdf name from the HTML link
- pdf_name = comparison_block.link.split('/').last.sub('html', 'pdf')

.last-updated-section
  %p.clearfix
    - if (comparison_block.pdf == true)
      = link_to "Download as PDF", "/comparison/pdfs/#{pdf_name}", class: "featured-item-button pull-right", download: "Comparison PDF", target: "_blank"
  %p
    Since GitLab fans wrote most of the text here there is a pro-GitLab bias. Nonetheless we try hard to ensure the
    comparisons are fair and factual. Please also add things that are great in other products but missing in GitLab.
    If you find something that is invalid, biased, missing, or out of date in the comparisons, please open a merge request
    for this website to correct it. As with all the pages on this website you can find where this page lives in the
    repository via the link in the footer.
