%section.featured-content
  .flex-container.row.divider-half.forrester-wave-row
    .flex-container.flex-column.full-width
      .text-center.margin-bottom20
        = image_tag "/images/home/forrester-logo.png", alt: "Forrester Logo"
      .text-center.forrester-graphic-title
        %p CI Wave Report
      = image_tag "/images/home/forrester-ci-wave-graphic-with-arrow.svg", alt: "GitLab is in the Leader’s arc", class: "forrester-wave-graphic"
      %p “GitLab supports development teams with a well-documented installation and configuration processes, an easy-to-follow UI, and a flexible per-seat pricing model that supports self service. GitLab’s vision is to serve enterprise-scale, integrated software development teams that want to spend more time writing code and less time maintaining their tool chain.”
      .btn-group
        %a.btn.cta-btn.accent.margin-top20{ href: '/2017/09/27/gitlab-leader-continuous-integration-forrester-wave/' } Read more

    .flex-container.flex-column.full-width
      .text-center.margin-bottom20
        = image_tag "/images/home/forrester-logo.png", alt: "Forrester Logo"
      .text-center.forrester-graphic-title
        %p VSM Report
      = image_tag "/images/home/forrester-vsm-graphic-with-arrow.png", alt: "Forrester Value Stream Management New Wave", class: "forrester-wave-graphic"
      %p GitLab is a "Strong Performer" in The Forrester New Wave: Value Stream Management Tools, Q3 2018. According to the report, “GitLab combines end-to-end capability with the power of open source. GitLab offers a DevOps tool for each step of the software development process. Top-level views sitting across these tools provide its VSM functionalities."
      .btn-group
        %a.btn.cta-btn.accent.margin-top20{ href: 'https://reprints.forrester.com/#/assets/2/921/RES141538/reports', target: "_blank" } Read more
