.hello-bar-wrapper
  %a.hello-bar.animated{ href: '/2018/08/22/gitlab-11-2-released/' }
    .hello-bar-content
      -# = image_tag "/images/home/gcp-logo.png", srcset: "/images/home/gcp-logo@2x.png 2x"
      %p
        GitLab 11.2 released with live preview in the Web IDE, Android imports, instance-wide project templates, installs on Kubernetes with our GA chart, and much more!
