---
layout: default
title: Issue Bash
suppress_header: true
extra_css:
  - styles-2018.css
  - issue_bash.css
  - faq.css
extra_js:
  - issue_bash.js
  - faq.js
---
.wrapper
  .simple-hero
    .container
      .row
        .col-md-8.col-md-offset-2.hero-image
          = partial "includes/icons/issue-bash-header.svg"

      .row
        %h1 Community Issue Bash

      .row
        .col-md-6.col-md-offset-3
          %p Every quarter we hold a Community Event called an Issue bash. These events aim to promote collaboration within our Community and introduce new contributors to GitLab.

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-md-8.col-md-offset-2

          .content-section
            %p We try to make the event accessible to contributors of all levels by collaborating on a range of tasks:

            %ul
              %li Finding issues in the tracker that can be easily closed
              %li Categorizing existing issues that are lacking labels
              %li Fixing known bugs and pain points
              %li Shipping of existing feature proposals

            %p There is no shortage of tasks that contributors can try their hand at. Whether this is writing their first merge request to contribute a bug fix or a feature proposal or collaborating with the core team to track down and close some duplicate issues and streamline the issue tracker.

            %p.btn-group
              %a.btn.cta-btn.purple.large{ href: '#bash-events' } Check out the events

  #bash-q-a.content-container.animated
    .container
      %h2.faq-title.light.text-center
        Frequently Asked Questions
      .faq-holder.clearfix
        %ol.faq-container.list-unstyled
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Where can I find out about upcoming issue bashes?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p
                Issue bashes are announced on the blog and on Twitter. You can find a list of the bashes that we have planned and the dates in the
                %a{ href: '#bash-events' } section below
          %li#comms-channels.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Where can I ask questions and look for Issue Bash help?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p You can mention contacts for the Issue bash in issues or you can use one of our public communication channels to collaborate:
                %ul
                  %li
                    %a{ href: 'https://gitter.im/gitlabhq/gitlabhq' } Gitter
                  %li
                    %a{ href: 'https://webchat.freenode.net/?channels=gitlab' } IRC
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Where can I learn how the prize winners are calculated?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %a{ href: 'https://gitlab.com/gitlab-org/issue-bash/prize-winner-calculator'} GitLab Issue Bash / Prize Winner Calculator
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                I want to help close issues. Where do I get started?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                #issue-closing
                  %h4
                    %strong Steps

                  %ul
                    %li Identifying duplicates issues and mentioning a member of the team
                    %ul
                      %li Team member will triage and possibly close as a duplicate
                      %li (Non technical) Will need to be able to search through issues and identify duplicates
                    %li Attempting to reproduce labelled bugs in a test project on GitLab.com and mention a team member with the results of their investigation (suggesting labels, suggesting closure, etc)
                    %ul
                      %li Team member will triage and close if the bug is no longer reproducible
                      %li (Both Technical and Non technical) Some bugs are harder to reproduce than others, but the majority should be reproducible using a test project created on GitLab.com
                      %li
                        Please refrain from testing issues with the
                        %span.label security
                        label on GitLab.com

                  %h4
                    %strong Best place to start

                  %ul
                    %li Not really a suggestion for finding duplicates. Duplicates could exist for any issue and we don't have any particular view that makes finding them easier.
                    %li
                      %a{ href: "https://gitlab.com/gitlab-org/gitlab-ce/issues?scope=all&state=opened&label_name[]=bug" } Existing bugs view
                      will help for determining if old bugs should be closed as non-reproducible or kept open

                  %h4
                    %strong Best way to help out

                  %p Comment on issues about what you have found out and your suggestions for issues, whether to close or keep open and if you've found a duplicate, mention the issue ID. Mention a key contact so that the correct course of action can be taken.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                How do I know which labels are right to apply?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p
                  We have
                  %a{href: 'https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CONTRIBUTING.md#workflow-labels'} a guide for labels in the Contributing guide.
        %ol.faq-container.list-unstyled
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Who can participate?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p Anyone and everyone! We aim to make the Issue Bash as accessible as possible and offer things to do for contributors with no experience or plenty of experience. We also hope that contributors of all technical abilities can find stuff to work on.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Where can I give feedback about the event itself?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p We'd love to hear what you think about the event and whether you have any suggestion for changes that we can make.

                %p
                  Please raise an issue on the
                  %a{href: 'https://gitlab.com/gitlab-issue-bash/feedback/issues'} Feedback tracker
                  or raise an issue by
                  %a{href: 'mailto:incoming+gitlab-issue-bash/feedback@gitlab.com'} sending an email.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                I want to help categorise issues. Where do I get started?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                #issue-categorising
                  %h4
                    %strong Steps

                  %ul
                    %li Investigate unlabelled issues with the aim of providing a suitable label and mentioning a team member
                    %ul
                      %li Team member will apply suggested label
                      %li (Non technical) Unlabelled issues can be located and investigated by contributors of all technical abilities

                  %h4
                    %strong Best place to start

                  %ul
                    %li
                      %a{ href: "https://gitlab.com/gitlab-org/gitlab-ce/issues?label_name%5B%5D=No+Label&scope=all&sort=created_asc&state=opened" } Unlabelled issues
                    %li These issues are all unlabelled and open, they haven't been triaged as of yet
                    %li These issues are listed in order of first raised, so some may no longer be valid, some will be old
                    %li These issues may contain interesting feature proposals or bugs that haven't yet been categorised

                  %h4
                    %strong Best way to help out

                  %p Write a comment on the issue mentioning a key contact and the labels suggested using the label syntax ~label
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                I want to help fix issues. Where do I get started?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                #issue-fixing
                  %h4
                    %strong Steps

                  %p Fixing known bugs and pain points or shipping existing feature proposals

                  %ul
                    %li
                      Look into the issues labelled as
                      %span.label bug
                      , attempt to reproduce and provide a merge request to fix
                    %ul
                      %li Team member will label the issues and merge requests as needed and mention other team members that can help progress the original issue to closure
                      %li
                        Some issues may just be filed under
                        %span.label Documentation
                      %li (Technical and Non technical) Some bugs are easier to fix and may only require changes to documentation which can be done via the Web Interface, some are much more difficult to fix
                    %li
                      Look into the issues labelled as
                      %span.label Accepting Merge Requests
                      %span.label feature proposal
                      , understand the use case and create a merge request to provide the new functionality
                    %ul
                      %li Team member will label the issues and merge requests as needed and mention other team members that can help progress the original issue to closure
                      %li (Technical and Non technical) Some feature proposals are easier to write and may only require changes to documentation which can be done via the Web Interface, some are much more difficult to satisfy

                  %h4
                    %strong Best place to start

                  %ul
                    %li
                      %a{ href: "https://gitlab.com/gitlab-org/gitlab-ce/issues?label_name[]=bug&scope=all&sort=created_asc&state=opened" } Existing bugs
                    %ul
                      %li These issues have all been categorised as bugs at one time or another
                      %li These issues are ordered by oldest updated first
                      %li These bugs may have been fixed and therefore the issues are no longer reproducible and should be closed
                      %li These bugs may still stand and a contributor could pick up the issue and provide a fix in a merge request
                      %li These bugs will touch on all sorts of categories from Documentation to style fixes to frontend and backend fixes. There's plenty for everyone
                    %li
                      %a{ href: "https://gitlab.com/gitlab-org/gitlab-ce/issues?label_name[]=bug&label_name[]=Accepting+Merge+Requests&scope=all&sort=created_asc&state=opened" } Accepting Merge Requests - bugs
                    %ul
                      %li
                        These issues have already been opened up for a
                        %span.label Community Contribution
                      %li These issues have been categorised as a bug
                      %li These issues are listed in order of first raised
                    %li
                      %a{ href: "https://gitlab.com/gitlab-org/gitlab-ce/issues?label_name[]=feature+proposal&label_name[]=Accepting+Merge+Requests&scope=all&sort=created_asc&state=opened" } Accepting Merge Requests - feature proposals
                    %ul
                      %li
                        These issues have already been opened up for a
                        %span.label Community Contribution
                      %li These issues have been categorised as a feature proposal
                      %li These issues are listed in order of first raised
                    %li
                      %a{ href: "https://gitlab.com/gitlab-org/gitlab-ce/issues?label_name[]=Accepting+Merge+Requests&weight=1&scope=all&sort=created_asc&state=opened" } Ideal First Time Contribution issues
                    %ul
                      %li Ideal for new contributors!

                  %h4
                    %strong Best way to help out

                  %p Submit a merge request with a potential fix for the issue and mention a key contact so that proper labels can be assigned. The normal review process for Community Contributions will then commence.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                How do I get started making my first contribution?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p
                  We have
                  %a{href: 'https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CONTRIBUTING.md'} a guide for contributing to GitLab
                  , please take a look there or ask questions in the
                  %a.comm-channels-link{href: '#comms-channels'} Communication channels

    #bash-events.content-container
      %h2.faq-title.light.text-center
        Events
      - profile_url = ->(username) { "https://gitlab.com/#{username}" }
      - bashes = data.issue_bash
      - bashes.each do |bash|
        .bash-event.content-section
          .bash-event-headers
            %h3.section-heading
              = bash.name
            .bash-event-dates
              %p #{bash.start_date} to #{bash.end_date}
          .bash-contacts
            %h4 Contacts:
            %ul
              - bash.contacts.each do |contact|
                %a{href: profile_url.call(contact)} @#{contact}
          - if bash.winners
            .bash-winners
              %h4 Winners:
              %ul
                - bash.winners.each do |winner|
                  %a{href: profile_url.call(winner)} @#{winner}
          %div
            - if bash.proposal
              %p.event-description
                %a{ href: bash.proposal } Issue Bash Proposal
            .clearfix
